# Dependencies
node_modules/

# Build output
dist/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Vite cache
.vite/

# Local env files
.env
.env.local
.env.*.local

# Editor
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docx

# Logs
*.log
npm-debug.log*

# ESLint cache
.eslintcache
